{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
} 